# User specific configuration
usr/

# Build directories
archive/
logs/
build/

# Dependencies need to be installed in
deps/
deps-build/
deps-vendor/

*.exe
*.user

# Python
__pycache__/

# Sublime Text
*.sublime*

# Vim
*.swp


CMakeFiles
CMakeCache.txt
*.vcxproj*
*.cmake
.vc
.vs
*.tlog
*.obj
*.log
*.recipe
*.idb
*.pdb
*.dll
*.lib
*.exp
*.ilk
*.sln
